html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}

header {
  width: 100%;
  padding: 20px;
  background-color: black;
  text-align: center;
  color: white;
}

header h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.75rem;
  padding-bottom: 10px;
  line-height: 1;
  color: white;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9375rem;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: inherit;
  display: inline-block;
}

nav a:hover {
  background-color: #ffcc00;
  color: black;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.875rem;
  box-sizing: border-box;
}

header h1 a {
  color: white;
  text-decoration: none;
  background-color: black;
}


header h1 a:visited {
  color: white;
  text-decoration: none;
}

header h1 a:visited,
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
  color: white;
  text-decoration: none;
  background-color: black;
}